.thumbnail img {
    height: 200px;
    width: 180px;
}

.thumbnail{
    height: 400px;
}

/**Estilos bloque Pie de pagina


.footer{
background-color: black;
color: white;
text-align: center;

}
*/


.footer1{



    background: #111;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 1em;

  }
 
.test{

    font-size: 130px;
    color:white;
}

